<div class="titleBar"><span class="titleBarTextSpan">${config.i18n.compare.title}</span></div><br />
<div style="margin: 5px;overflow: auto;">
    <div id="resultLayerDescription"></div>
    <div id="compareLayerDescription"></div>
    <div tabindex=5 id="resultOpacity" data-dojo-attach-point="transparency" style="width:180px;display:none;position: relative;top: 15px;" data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="value:0,minimum: 0,maximum:1,intermediateChanges:true,showButtons:true">
        <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration" style="height:5px;"></div>
        <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration" style="height:1em;font-size:75%;color:gray;">
            <li>0%</li>
            <li>50%</li>
            <li>100%</li>
        </ol>
    </div>
    <div id="noLayerNotification" style="color:red;"></div>
    <br /><br />
</div>